.csgo_container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.achievement_container {
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}